<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
    <title>CRM Portal | <%= title %></title>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container-fluid">
        <div class="col text-center py-3">
            <h1><%= user.fullname %></h1>
        </div>
            <div class="row g-6">
                <div class="col-6 offset-3 border-secondary shadow py-3 px-5 rounded">
                    <form action="/customers/update/<%= user.id %>" method="GET">
                        <div class="card text-center">
                            <div class="card-header">
                              Administrative Panel
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Email: <%= user.email %></h5>
                              <p class="card-text">Gender: <%= user.gender %></p>
                              <p class="card-text">Phone: <%= user.phone %></p>
                              <p class="card-text">Address: <%= user.address %></p>
                              <p class="card-text">Notes: <%= user.notes %></p>
                              <div class="form-group mb-3">
                                <div class="text-center">
                                  <input type="submit" class="btn btn-primary" id="submit" value="Update">
                                  <a href="/customers" class="btn btn-primary">Back</a>
                                </div>
                              </div>
                            </div>
                            <div class="card-footer text-muted">
                                Administrator: <%= user.fullname %>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
           
    
     
    
    
    
        <%- include('./partials/footer.ejs') %>
    </body>
    </html>
                        